* {
    padding: 0 auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
}
#cabecera {
    display: flex;
    align-items: center;
    height: 15%;
    background-color: rgb(230,200,149);
    text-align: center;
}
#menu {
    height: 5%;
    background-color: rgb(171,161,134);
}
#seccion {
    height: 64%;
    width: 65%;
    background-color: rgb(151,158,54);
    float: left;
}
#seccionFuera {
    height: 64%;
    width: 35%;
    background-color: rgb(190,193,79);
    float: right;
}
#pie {
    height: 10%;
    margin-top: 600px;
    background-color: rgb(230,200,149);
    text-align: center;
}
#contenedorImagenes {
    margin-top: 120px;
    height: 120px;
    width: 400px;
}
#articulo1 {
    margin-top: 30px;
    margin-left: 10px;
}
#articulo2 {
    margin-top: 30px;
    margin-left: 10px;
}

.encabezado {
    color:yellow;
    font-size: 50px;
}
.titulo {
    color: white;
    font-size: 20px;
}
.texto {
    text-align: justify;
}
.imagenes {
    text-align: center;
}
.piePagina {
    color: white;
}

a {
    text-decoration: none;
}
ul {
    text-align: center;
}
li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
img {
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
}